@import "loading.scss";
@import "_homepage.scss";
@import "_register.scss";
@import "_delivery.scss";

:root {
  --text-color: #333533;
  --bg-color: #e8eddf;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--text-color);
  padding: 0;
  margin: 0;
  width: 100vw;

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .App {
    position: relative;
    background: #333533;
    overflow: hidden;
    color: #333533;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .main {
      position: relative;
      width: 100%;
      min-height: 60vh;
      display: flex;
      justify-content: center;

      @media (max-width: 640px) {
        min-height: auto;
      }
    }
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
