.loading {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8eddf;
  text-align: center;
  font-size: 24px;
}
.loading span::after {
  content: "";
  animation: loading_span_dots 1s linear infinite;
}
.loading svg {
  width: 150px;
  height: 150px;
  position: relative;
  animation: rotate_loading_svg 1s linear infinite;
}
.loading svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #e8eddf;
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transform: translate(5px, 5px);
  animation: rotate_loading_circle 2s linear infinite;
}

@keyframes rotate_loading_svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_loading_circle {
  0%, 100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}
@keyframes loading_span_dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
.Page404 {
  color: #333533;
  position: relative;
  width: 100%;
  min-height: 60vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
}
.Page404 div.word_I {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  font-size: 4rem;
  width: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
}
.Page404 div.word_I:hover span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 2rem));
}
.Page404 div.word_I:hover span:nth-child(2) {
  transform: translate(-50%, calc(-50% + 2rem));
}
.Page404 .word_I span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  color: #333533;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.Page404 .word_I span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  color: #333533;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
}
.Page404 .word_I span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  color: #333533;
  transition: 0.5s;
  transform: translate(-50%, -50%) scaleY(0);
  font-size: 2rem;
  background-color: #333533;
  color: #e8eddf;
  padding-left: 0px;
  transition: 0.5s;
}
.Page404 div.word_I:hover span:nth-child(3) {
  transform: translate(-50%, -50%) scaleY(1);
}
.Page404 .Page404-btn {
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  font-size: 1.25rem;
  font-family: sans-serif;
  transition: 0.3s;
  text-transform: uppercase;
}
.Page404 .Page404-btn:hover {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}
.Page404 .Page404-btn svg,
.Page404 .Page404-btn svg rect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}
.Page404 .Page404-btn rect {
  stroke-width: 4;
  stroke: #333533;
  stroke-dasharray: 180, 60;
  filter: drop-shadow(0 0 5px #333533);
  animation: animation_btn 5s linear infinite;
}
@keyframes animation_btn {
  0% {
    stroke-dashoffset: 480;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.homepage {
  position: relative;
  width: 100%;
}
.homepage .homepage_carousel {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.homepage .homepage_carousel .prev-slide,
.homepage .homepage_carousel .next-slide {
  position: absolute;
  z-index: 11;
  top: 0;
  width: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 640px) {
  .homepage .homepage_carousel .prev-slide,
  .homepage .homepage_carousel .next-slide {
    width: 4rem;
  }
}
.homepage .homepage_carousel .prev-slide svg,
.homepage .homepage_carousel .next-slide svg {
  width: 50%;
  height: 50%;
  opacity: 0.8;
}
.homepage .homepage_carousel .prev-slide svg path,
.homepage .homepage_carousel .next-slide svg path {
  fill: transparent;
  stroke: #e8eddf;
  stroke-width: 4;
  stroke-dashoffset: 0;
  stroke-dasharray: 260;
  transition: 0.5s;
  filter: drop-shadow(0 0 0.5rem #e8eddf);
}
.homepage .homepage_carousel .prev-slide svg:hover path,
.homepage .homepage_carousel .next-slide svg:hover path {
  animation: animation-path 1s linear forwards;
  transform: scale(1.2);
}
.homepage .homepage_carousel div.homepage-dot {
  position: absolute;
  z-index: 10;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}
.homepage .homepage_carousel div.homepage-dot button {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  transition: 0.5 all;
}
@media (max-width: 640px) {
  .homepage .homepage_carousel div.homepage-dot button {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.homepage .homepage-link {
  position: absolute;
  z-index: 100;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
}
.homepage .homepage-link button {
  position: relative;
  z-index: 100;
  cursor: pointer;
  width: 240px;
  height: 60px;
  font-size: 1.15rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: #333533;
  transition: 1s;
  animation: animation_text 3s infinite linear;
}
@media (max-width: 640px) {
  .homepage .homepage-link button {
    width: 180px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;
  }
}
.homepage .homepage-link button::before {
  content: "";
  width: 70%;
  height: 100%;
  background-color: #333533;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage .homepage-link button:hover {
  font-size: 0;
}
.homepage .homepage-link button:hover::before {
  content: "Go Shopping !";
  font-size: 1.15rem;
  color: goldenrod;
  width: 100%;
  opacity: 1;
}
.homepage .homepage-link button svg,
.homepage .homepage-link button rect {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  fill: transparent;
}
.homepage .homepage-link button svg rect,
.homepage .homepage-link button rect rect {
  stroke-width: 4;
  stroke: goldenrod;
  stroke-dasharray: 150;
  filter: drop-shadow(0 0 5px goldenrod) drop-shadow(0 0 10px goldenrod);
  animation: animation_rect 4s infinite linear;
}
@media (max-width: 640px) {
  .homepage .homepage-link button svg rect,
  .homepage .homepage-link button rect rect {
    animation: none;
    stroke-width: 2;
    stroke-dasharray: 0;
    filter: none;
    transition: all 1s;
  }
  .homepage .homepage-link button svg rect:hover,
  .homepage .homepage-link button rect rect:hover {
    filter: drop-shadow(0 0 5px goldenrod) drop-shadow(0 0 10px goldenrod);
  }
}

@keyframes animation-path {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 260;
  }
  80% {
    stroke-dashoffset: 520;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 520;
    fill: #e8eddf;
    box-shadow: #e8eddf 0 0 0.5rem;
    filter: blur(1);
  }
}
@keyframes animation_rect {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes animation_text {
  0%, 100% {
    text-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgb(218, 165, 32);
  }
}
.register-area form {
  position: relative;
  z-index: 5;
}
.register-area svg,
.register-area svg rect {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  fill: transparent;
}

.delivery-method .delivery_btn {
  border-radius: 1rem;
  background-color: #e8eddf;
  border: 2px rgb(51, 53, 51) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  scale: 0.95;
  margin: 1rem;
  cursor: pointer;
}
.delivery-method .delivery_btn.active {
  background-color: rgba(51, 53, 51, 0.5);
  color: #e8eddf;
  transform: translate(0px, -5px) scale(1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

:root {
  --text-color: #333533;
  --bg-color: #e8eddf;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
}
body #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .App {
  position: relative;
  background: #333533;
  overflow: hidden;
  color: #333533;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .App .main {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  body .App .main {
    min-height: auto;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}/*# sourceMappingURL=index.css.map */